.grid-2-cols {
  max-width: $grid-width;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;

  @include clearfix;

  & p {
    display: inline-block;
    color: $light-grey;
  }
}

.section-about-grid {
  float: left;
  width: calc((100% - #{$gutter-horizontal}) / 2);

  &-link:link,
  &-link:visited {
    text-decoration: none;
    padding: 10px;
    color: $dark_green;
    border-bottom: 1px solid $dark_green;
    transition: all 0.3s;
    letter-spacing: 1px;
    line-height: 1.8;
  }

  &-link:hover,
  &-link:active {
    color: $font-light-grey;
    background-color: $dark_green;
  }

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
